body{
	magin:0;
	pending:0;
	background:url(image.jpg);
	background-size:cover;
    background-position:center;
	font-family:Caviar Dreams;
	}
	H1{
		margin:0;
		padding:0 0 50px;
		text-align:center;
		font-size:35px;
		color:rgba(255, 255, 255);
	}
	p{
		text-align:center;
		font-family:Caviar Dreams;
		color:rgba(255, 255, 255);
	}
	TR{
		font-family:Caviar Dreams;
		color:rgba(255, 255, 255);
	}
